<header>
  <h1>Q</h1>
  <div>
    <a href="/app">
      <i class="fas fa-home"></i>
    </a>
    {{#if editQuiz}}
      <a href="/app/create-user">
        <i class="fas fa-user-circle"></i>
      </a>
    {{/if}}
    <a href="/login/logout">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</header>