<form class="" action="/app/create-user" method="post">
  <div class="title">
    <h1>Create user</h1>
    <div>
      <a href="/app">Cancel</a>
      <button type="submit" name="button" class="btn">Create user</button>
    </div>
  </div>

  <div class="card">
    <div class="input-container">
      <label for="username">Username</label>
      <input type="username" name="username" class="text-input" placeholder="Username" required>
    </div>
      
    <div class="input-container">
      <label for="password">Password</label>
      <input type="password" name="password" class="text-input" placeholder="Password" required>
    </div>

    <div class="input-container center">
      <select name="permissionLevel" class="select-input">
        <option value='restricted'>Restricted</option>
        <option value='view'>View</option>
        <option value='edit'>Edit</option>
      </select>
      <label for="viewAnswers">Select permission level</label>
    </div>
  </div>
</form>