<div class="index-page">
  <h1>Dog ate their homework again?</h1>
  <h2>Try QUIS</h2>
  <p>Simple quiz creation &amp; management</p>
  <br>
  <a class="btn btn-light" href="/login"><span>Sign in</span></a>
  <p class="small footer">A WebbiSkools product</p>
</div>